
<article class="post">
  <div class="post-preview col-xs-12  no-gutter">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <p>{{ .Summary | plainify | htmlUnescape }}</p>

      <p class="meta">
        by <a href="/author/{{ .Params.author }}"><strong>{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</strong></a>
        in {{ range .Params.categories }}<a href="categories/{{ . | urlize }}" ><strong>{{ . }}</strong></a>{{ end }}
        <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ .ReadingTime }} min read
      </p>
  </div>

  <!-- <div class=" col-xs-2  no-gutter">
      <img src="{{ .Params.avatar }}" class="user-icon user-1" alt="user-image">
  </div> -->

</article>