
<article class="post">
  <div class="post-preview col-xs-12  no-gutter">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <p>{{ .Summary | plainify | htmlUnescape }}</p>

      <p class="meta">
        <!-- by <a href="/moods/{{ .Params.author }}"><strong>{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.mood }}{{ end }}</strong></a> -->
        by
        {{ range .Params.authors }}
          <a class="meta--author" href="/authors/{{ . | urlize }}" ><strong>{{ replace . "-" " " }}</strong></a>
        {{ end }}
        in
        {{ range .Params.categories }}
          <a  class="meta--cat" href="/categories/{{ . | urlize }}" ><strong>"{{ . }}"</strong></a>
        {{ end }}
        <i class="link-spacer"></i><i class="small material-icons">access_time</i> {{ .ReadingTime }}-min read
      </p>
  </div>

  <!-- <div class=" col-xs-2  no-gutter">
      <img src="{{ .Params.avatar }}" class="user-icon user-1" alt="user-image">
  </div> -->

</article>