<!DOCTYPE html>
<html class="no-js" language="{{ .Site.LanguageCode }}">

<head>

  <!-- Page Title -->
  <title>
    {{- block "title" . -}}
      {{ if eq .Kind "page" }}{{ .Title }}{{ else if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

    <!-- Shared Head -->
  {{ partial "head.html" . }}

  <!-- Polyfill for old browsers -->
  {{ partial "polyfill.html" . }}
</head>

<body>
  
  <main class="container left-container">

      <div class="row">

        <!-- <section class="sidebar" style="background-image: url({{ "img/sidebar-bg.jpeg" | relURL }});"> -->
        <section class="sidebar">
            {{ partial "sidebar.html" . }}
        </section>
    
        <section class="main-content">
          {{ block "main" . }}{{ end }}
        </section>
        <!-- main content -->

      </div>
      <!--/row -->

  </main>

  {{ partial "footer.html" . }}
</body>

</html>