{{ define "main" }}

<!-- for pages like domain:port/TAXONOMOMY_PLURAL/ -->

<!-- {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  <ul>
    <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
  </ul>
{{ end }} -->

<!-- <ul>
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
      <ul>
        {{ range $key, $value := $taxonomy }}
        <li> {{ $key }} </li>
              <ul>
              {{ range $value.Pages }}
                  <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
              {{ end }}
              </ul>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</ul> -->

<section>

  <div class="category row">
    {{ range .Data.Pages }}
      <section>
        <div class="category-preview col-xs-6">
          {{ with .Params.prettyTitle }}
            <h2>{{ . }}</h2>
          {{ end }}
          <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="category-image"></a>
        </div>
      </section>
    {{ end }}
  </div>

  <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Params.prettyTitle }}</a>
        <dl>
          <dt>Link to the {{ .Params.prettyTitle }} page</dt><dd><a href="{{ .Permalink }}">{{ .Permalink }}</a></dd>
        </dl>
      </li>
    {{ end }}
  </ul>

</section>

{{ end }}