{{ define "main" }}

<!-- for pages like domain:port/TAXONOMOMY_PLURAL/ -->

<!-- {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  <ul>
    <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
  </ul>
{{ end }} -->

<!-- <ul>
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
      <ul>
        {{ range $key, $value := $taxonomy }}
        <li> {{ $key }} </li>
              <ul>
              {{ range $value.Pages }}
                  <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
              {{ end }}
              </ul>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</ul> -->

<div class="row">
  {{ range .Data.Pages }}
    <div class="col-xs-6">
      <!-- <a href="{{ .Permalink }}">
        {{ with .Params.prettyTitle }}
          <h2>{{ . }}</h2>
        {{ end }}
      </a> -->
      <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="category-image"></a>
    </div>
  {{ end }}
</div>

{{ end }}