<!-- <div class="container left-container">
  <div class="row">
    <div class="sidebar col-md-5 col-sm-12">
        <footer class="site-footer">
          <p>© {{ if eq now.Year 2017 }}2017{{ else }}2017-{{ now.Year }}{{ end }} {{ .Site.Title }}</p>
          {{ if and (isset .Site.Params "icp") (ne .Site.Params.ICP "") }}
            <p><a href="http://www.miitbeian.gov.cn" title="Check ICP info" target="_blank">{{ .Site.Params.ICP }}</a></p>
          {{ end }}
        </footer>
    </div>
  </div>
</div> -->

<!-- Scripts -->
<script src="{{ "/js/bundle.js" | relURL }}"></script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ if isset .Site.Params "baidutongji" }}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ .Site.Params.baiduTongji }}";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{ end }}
<script src="{{ "/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js" | relURL }}"></script>
<script src="{{ "/js/vendor/jquery-1.11.2.min.js" | relURL }}"></script>
<script src="{{ "/js/vendor/jquery.jpanelmenu.min.js" | relURL }}"></script>
<script src="{{ "/js/vendor/highlight.min.js" | relURL }}"></script>
<script src="{{ "/js/vendor/fastclick.min.js" | relURL }}"></script>
<script src="{{ "/js/main.js" | relURL }}"></script>
<script id="dsq-count-scr" src="//hashnopolis.disqus.com/count.js" async></script>
