<span id="mobile-menu-open" style="position: absolute; top: 1.5rem; left: 1rem; color: #fff;"><i class="material-icons">menu</i></span>
<a href="/" class="menu-logo">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" enable-background="new 0 0 16 16" x="0px" y="0px">
    <g>
      <path d="M10.001 16l-.143-.01c-.547-.078-.926-.585-.849-1.132l2-14c.078-.546.588-.926 1.132-.848.547.078.927.584.849 1.131l-2 14c-.071.5-.499.859-.989.859zM4.001 16l-.143-.01c-.546-.078-.926-.585-.848-1.132l2-14c.078-.547.58-.927 1.132-.848.546.078.926.585.848 1.132l-2 14c-.072.499-.499.858-.989.858zM15 6h-13c-.552 0-1-.448-1-1s.448-1 1-1h13c.553 0 1 .448 1 1s-.447 1-1 1zM14 12h-13c-.552 0-1-.447-1-1s.448-1 1-1h13c.553 0 1 .447 1 1s-.447 1-1 1z"/>
    </g>
  </svg>
</a>
<!-- <span class="menu-trigger animated fadeInDown">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</span> -->
<!-- if the user has javascript disabled they can still use the menu -->
<!-- <noscript>
  <div class="no-js-menu">
      <ul>

        <li><i class="fa fa-home"></i><a href="">Home</a></li>

        <li><i class="fa fa-home"></i><a href="home-alt">Home Alt</a></li>

        <li><i class="fa fa-home"></i><a href="home-alt-2/">Home Alt 2</a></li>

        <li><i class="fa fa-anchor"></i><a href="about">About</a></li>

        <li><i class="fa fa-plane"></i><a href="contact">Contact</a></li>

        <li><i class="fa fa-user"></i><a href="author/michelle">Author</a></li>

      </ul>
  </div>
</noscript> -->
<!-- end no script -->
<ul id="mobile-menu" class="navigation">
  <li id="mobile-menu-close" style="margin-top: 1.5rem; color: #7679EC"><i class="material-icons">close</i></li>
  <li><a href="/">Home</a></li>
  <li><a href="/categories/javascript">JavaScript</a></li>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/about">About</a></li>
</ul>
<div class="site-info">
  <div class="primary-info">
    <h1>{{ .Site.Params.siteName }} | {{ .Site.Params.subtitle }}</h1>
    <footer class="site-footer">
    <p>© {{ if eq now.Year 2017 }}2017{{ else }}2017-{{ now.Year }}{{ end }} <a href="{{ .Site.Params.parentSite }}">Hashnopolis</a></p>
    {{ if and (isset .Site.Params "icp") (ne .Site.Params.ICP "") }}
      <p><a href="http://www.miitbeian.gov.cn" title="Check ICP info" target="_blank">{{ .Site.Params.ICP }}</a></p>
    {{ end }}
    </footer>
  </div>

  <div class="secondary-info">
    <p>
      <button class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i>Newsletter</button>
    </p>
  </div>
</div>
<!-- end sidebar -->
